<%
=begin

Lesli

Copyright (c) 2023, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS Development Framework.

Made with ♥ by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
=end
%>

<%# check if custom navigation partial exists, getting the path from application helper %>
<% custom_navigation_path = "partials/application-lesli-header" %>

<%# validate the path to be sure the partial exists when trying to render it %>
<% custom_navigation_exists = lookup_context.exists?(custom_navigation_path, nil, true) %>

<%# render navigation partial %>
<% if custom_navigation_exists %>

    <%= render partial: custom_navigation_path %>

<% else %>
<header class="lesli-application-header">
    <nav class="lesli-navbar navbar unresponsive" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="<%= defined?(LesliDashboard) ? '/dashboard' : '/' %>" class="application-navbar-brand">
                    <%= customization_instance_logo_tag(logo: "app-logo", options: { alt: "Lesli app logo" }) %>
                </a>
                <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                </div>
                <div class="navbar-end">

                    <div class="navbar-item">
                        <div class="header-icons field is-grouped is-justify-content-center">
                            <div class="control">

                                <!-- tickets -->
                                <a v-if="props.showSupport" class="header-indicator"
                                    @click="() => { storeLayout.showSupport = true }">
                                    <span class="count" v-if="storeLayout.header.support > 0"></span>
                                    <span class="ri-ticket-2-line"></span>
                                </a>

                                <!-- tasks -->
                                <a v-if="props.showFocus" class="header-indicator"
                                    @click="() => { storeLayout.showSuppor = true }">
                                    <span class="ri-list-check-3">
                                    </span>
                                    <span class="count" v-if="storeLayout.header.support > 0">
                                    </span>
                                </a>

                                <% if defined?(LesliBell) %>
                                    <%= link_to(
                                        lesli_bell.notifications_path, 
                                        :class => "header-indicator",
                                        :data => { turbo_frame: '_top' }) do %>
                                        <span class="ri-notification-3-line"></span>
                                        <% if @lesli[:notifications] > 0 %>
                                            <span class="count"></span>
                                        <% end %>
                                    <% end %>
                                <% end %>

                                <!-- notifications (dropdown) -->
                                <% if defined?(LesliBell2) %>
                                    <div class="dropdown is-hoverable lesli-header-notifications">
                                        <div class="dropdown-trigger">
                                            <a>
                                                <span class="ri-notification-3-line">
                                                </span>
                                            </a>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu" style="width: 350px;">
                                            <div class="dropdown-content">
                                                <% current_user.notifications.each do |notification| %>
                                                    <%= link_to lesli_bell.notifications_path, data: { turbo_frame: '_top' } do %>
                                                        <div class="notification is-<%= notification.category %> is-light mb-2">
                                                            <!-- Close button -->
                                                            <%= button_to(
                                                                lesli_bell.notification_path(notification[:id]), 
                                                                method: :put, 
                                                                class: "button is-small is-light is-#{notification[:category]}",
                                                                form: { class: "delete" }) do %>
                                                                <span class="icon">
                                                                    <span class="material-icons">close</span>
                                                                </span>
                                                            <% end %>
                                                            <%= notification.subject %>
                                                        </div>  
                                                    <% end %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>

                                <!-- module selector -->
                                <%= navigation_link(lesli.apps_path, nil, "ri-apps-2-line") %>

                                <!-- profile options -->
                                <div class="dropdown is-hoverable" v-if="props.showProfile">
                                    <div class="dropdown-trigger">
                                        <a @click="storeLayout.showProfile = true">
                                            <span class="ri-user-smile-line">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <a :href="url.admin('profile')" class="dropdown-item py-3">
                                                <span class="icon-text">
                                                    <span class="icon has-text-grey-dark">
                                                        <span class="ri-questionnaire-line"></span>
                                                    </span>
                                                    <span>Help</span>
                                                </span>
                                            </a>
                                            <a :href="url.admin('profile')" class="dropdown-item py-3">
                                                <span class="icon-text">
                                                    <span class="icon has-text-grey-dark">
                                                        <span class="ri-equalizer-line"></span>
                                                    </span>
                                                    <span>Settings</span>
                                                </span>
                                            </a>
                                            <a :href="url.admin('profile')" class="dropdown-item py-3">
                                                <span class="icon-text">
                                                    <span class="icon has-text-grey-dark">
                                                        <span class="ri-user-line"></span>
                                                    </span>
                                                    <span>Profile</span>
                                                </span>
                                            </a>
                                            <hr class="dropdown-divider" />
                                            <a href="/logout" class="dropdown-item py-3">
                                                <span class="icon-text">
                                                    <span class="icon has-text-grey-dark">
                                                        <span class="ri-logout-box-r-line"></span>
                                                    </span>
                                                    <span>Logout</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<% end %>
