<%
=begin

Lesli

Copyright (c) 2023, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS development platform.

Made with ♥ by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
=end
%>

<lesli-application-header 
    <%= "show-bell" if defined?(CloudBell) %>
    <%= "show-focus" if defined?(CloudFocus) %>
    <%= "show-tickets" if defined?(CloudHelp) %>
    <%= "show-announcements" if defined?(CloudBell) %>
    engine-path="<%= lesli_engine(:path) %>"
    :show-engines="true">
    

    <%# language selector %>
    <% if I18n.available_locales.length > 1 %>
        <div class="dropdown is-hoverable header-language-selector">
            <div class="dropdown-trigger">
                <span class="icon has-text-link">
                    <%= flag_icon(language_flag(locale)) %>
                </span>
            </div>
            <div class="dropdown-menu" id="dropdown-menu-locale" role="menu">
                <div class="dropdown-content">
                    <% I18n.available_locales.each do |locale| %>
                        <% next if locale == I18n.locale %>
                        <%= link_to language_url(locale), { :class => "dropdown-item" } do %>
                            <span class="icon has-text-grey-light">
                                <%= flag_icon(language_flag(locale)) %>
                            </span>
                            <span><%= language_name(locale) %></span>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</lesli-application-header>
