<%#

Lesli

Copyright (c) 2025, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS Development Framework.

Made with ♥ by LesliTech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
%>

<%# check if custom navigation partial exists, getting the path from application helper %>
<% custom_navigation_path = "partials/application-lesli-header" %>

<%# validate the path to be sure the partial exists when trying to render it %>
<% custom_navigation_exists = lookup_context.exists?(custom_navigation_path, nil, true) %>

<%# render navigation partial %>
<% if custom_navigation_exists %>

    <%= render partial: custom_navigation_path %>

<% else %>
<header class="lesli-application-header">
    <nav class="lesli-navbar navbar unresponsive" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="<%= defined?(LesliDashboard) ? '/dashboard' : '/' %>" class="application-navbar-brand">
                    <%= customization_instance_logo_tag(logo: "app-logo", options: { alt: "Lesli app logo" }) %>
                </a>
                <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                </div>
                <div class="navbar-end">

                    <div class="navbar-item">
                        <div class="header-icons field is-grouped is-justify-content-center">
                            <div class="control">

                                <!-- tasks -->
                                <% if defined?(LesliFocus) %>
                                    <a v-if="props.showFocus" class="header-indicator"
                                        @click="() => { storeLayout.showSuppor = true }">
                                        <span class="ri-list-check-3">
                                        </span>
                                        <span class="count" v-if="storeLayout.header.support > 0">
                                        </span>
                                    </a>
                                <% end %>

                                <!-- tickets -->
                                <% if defined?(LesliSupport) %>
                                    <%= link_to(
                                        lesli_support.tickets_path, 
                                        :class => "header-indicator",
                                        :data => { turbo_frame: '_top' }) do %>
                                        <span class="ri-ticket-2-line"></span>
                                        <% if @lesli[:tickets] > 0 %>
                                            <span class="count"></span>
                                        <% end %>
                                    <% end %>
                                <% end %>

                                <!-- notifications -->
                                <% if defined?(LesliBell) %>
                                    <%= link_to(
                                        lesli_bell.notifications_path, 
                                        :class => "header-indicator",
                                        :data => { turbo_frame: '_top' }) do %>
                                        <% if @lesli[:notifications] > 0 %>
                                            <span class="ri-notification-3-fill has-text-primary"></span>
                                        <% else %>
                                            <span class="ri-notification-3-line"></span>
                                        <% end %>
                                    <% end %>
                                <% end %>

                                <!-- module selector -->
                                <%= navigation_link(lesli.apps_path, nil, "ri-apps-2-line") %>

                                <!-- user profile -->
                                <%= navigation_link(lesli.apps_path, nil, "ri-user-smile-line") %>

                                <!-- logout from session -->
                                <%= navigation_link(main_app.destroy_user_session_path, nil, "ri-logout-circle-r-line") if defined?(LesliShield) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<% end %>
