<%
=begin

Lesli

Copyright (c) 2023, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS Development Framework.

Made with ♥ by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
=end
%>

<%# check if custom navigation partial exists, getting the path from application helper %>
<% custom_navigation_path = "partials/application-lesli-header" %>

<%# validate the path to be sure the partial exists when trying to render it %>
<% custom_navigation_exists = lookup_context.exists?(custom_navigation_path, nil, true) %>

<%# render navigation partial %>
<% if custom_navigation_exists %>

    <%= render partial: custom_navigation_path %>

<% else %>

<lesli-application-header 
    :show-engines="true"
    <%= "show-bell" if defined?(LesliBell) %>
    <%= "show-focus" if defined?(LesliFocus) %>
    <%= "show-support-tickets" if defined?(LesliSupport) %>
    engine-path="<%= defined?(LesliDashboard) ? lesli_dashboard.root_path : lesli_engine(:path)%>">
    
    <template v-slot:brand>
        <%= customization_instance_logo_tag(logo: "app-icon", options: { alt: "Lesli app logo", class: "is-hidden-desktop" }) %>
        <%= customization_instance_logo_tag(logo: "app-logo", options: { alt: "Lesli app logo", class: "is-hidden-touch" }) %>
    </template>

    <template v-slot:end>
        
        <%# language selector %>
        <% if I18n.available_locales.length > 1 %>
            <div class="navbar-item">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button 
                            class="button is-ghost" 
                            aria-haspopup="true" 
                            aria-controls="dropdown-menu"
                            @click="storeLayout.showProfile = true">
                            <span class="icon is-size-5">
                                <%= lesli_svg("locale-#{locale}") %>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu-locale" role="menu">
                        <div class="dropdown-content">
                            <% I18n.available_locales.each do |locale| %>
                                <% next if locale == I18n.locale %>
                                <%= link_to language_url(locale), { :class => "dropdown-item" } do %>
                                    <span class="icon has-text-grey-light">
                                        <%= lesli_svg("locale-#{locale}") %>
                                    </span>
                                    <span><%= language_name(locale) %></span>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </template>
</lesli-application-header>

<% end %>
