<%#

Lesli

Copyright (c) 2025, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS Development Framework.

Made with ♥ by LesliTech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
%>

<%# Get the navigation partial for every engine %>
<% engine_navigation_partial = navigation_partial %>

<header class="lesli-application-header">
    <div class="container" x-data="{ navActive: false }">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a 
                    class="navbar-item p-0"
                    href="<%= defined?(LesliDashboard) ? '/dashboard' : '/' %>">
                    <%= customization_instance_logo_tag(logo: "app-logo", options: { alt: "Lesli app logo" }) %>
                </a>
                <a  
                    class="navbar-burger" 
                    role="button" 
                    aria-label="menu" 
                    aria-expanded="false" 
                    @click="navActive = !navActive"
                    :class="{ 'is-active': navActive }">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" :class="{ 'is-active': navActive }">
                <div class="navbar-end is-flex is-justify-content-center">

                    <!-- notifications -->
                    <div class="navbar-item">
                        <% if defined?(LesliBell) %>
                            <%= link_to(
                                lesli_bell.notifications_path, 
                                :class => "header-indicator",
                                :data => { turbo_frame: '_top' }) do %>
                                <% if @lesli[:notifications] > 0 %>
                                    <span class="ri-notification-3-fill has-text-primary"></span>
                                <% else %>
                                    <span class="ri-notification-3-line"></span>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>

                    <!-- app selector -->
                    <div class="navbar-item">
                        <%= navigation_link(lesli.apps_path, nil, "ri-apps-2-line") %>
                    </div>

                    <!-- user profile -->
                    <div class="navbar-item">
                        <%= navigation_link(lesli.apps_path, nil, "ri-user-smile-line") %>
                    </div>

                    <!-- logout from session -->
                    <div class="navbar-item">
                        <%= navigation_link(main_app.destroy_user_session_path, nil, "ri-logout-circle-r-line") if defined?(LesliShield) %>
                    </div>
                </div>
                <div class="navbar-end is-hidden-desktop">
                    <%= render(engine_navigation_partial) if engine_navigation_partial %>
                </div>
            </div>
        </nav>
    </div>
</header>

<%# Build the engine navigation %>
<% if engine_navigation_partial %>
    <nav class="navbar lesli-application-navigation is-hidden-touch">
        <div class="navbar-menu">
            <div class="navbar-start is-flex-grow-1 is-justify-content-center">
                <%= render(engine_navigation_partial) %>
            </div>
        </div>
    </nav>
<% end %>
