= form_for @website do |f|
  - if @website.errors.any?
    #error_explanation
      %h2= "#{pluralize(@website.errors.count, "error")} prohibited this website from being saved:"
      %ul
        - @website.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
