%header
    = image_tag 'brand/leslicloud-logo.png'
    = link_to "Login", new_user_session_path, :class => 'navbar-link'
    %br
    %br
    = I18n.t('core.websites.views.create.actions.label_demo_for_actions')
    %br
    %br
    = link_to "en", { :locale=>'en' }
    %br
    = link_to "es", { :locale=>'es' }
    %br
    = link_to "de", { :locale=>'de' }
