<%#

Copyright (c) 2022, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 

%>

<% custom_app_page_clas = "#{ lesli_instance_code }-invites".downcase %>
<% custom_app_page_path = "#{ lesli_instance_code }/lesli/invites/new" %>
<% custom_app_page_exists = lookup_context.exists?(custom_app_page_path) %>


<%# render custom view in builder module %>
<% if custom_app_page_exists %>
<main id="lesli-application" class="<%= custom_app_page_clas %>">
    <%= render :template => custom_app_page_path %>
</main>
<% end %>


<%# core view for invites %>
<% unless custom_app_page_exists %>
<main id="lesli-application">
    <section class="hero is-fullheight">
        <div class="hero-head">
            <div class="form-title has-text-centered">
                <%= link_to root_unauthenticated_path do %>
                    <%= image_tag "#{ lesli_instance_code }/brand/app-logo.svg", :alt => "logo", :class => "app-logo" %>
                <% end %>
                <h2 class="is-size-2">Request an invite</h2>
            </div>
        </div>
        <div class="hero-body">
            <form class="has-text-centered box" ref="form" v-on:submit.prevent="postInvite">
                <div class="field">
                    <p class="label">Enter your email address to use in Lesli</p>
                    <p class="label">We'll send instructions to create your new account.</p>
                    <p v-if="notification.message != ''" :class="[notification.type, 'notification', 'is-size-5', 'mt-2']">
                        {{ notification.message }}
                    </p>
                    <p class="control has-icons-left mt-4 mb-4">  
                        <input 
                            class="input" 
                            type="email"
                            v-model="invite.email"
                            required="true"
                            name="user_email"
                            placeholder="email"
                        />
                        <span class="icon is-left">
                            <span class="material-icons">
                                email
                            </span>
                        </span>
                    </p>
                </div>
                <div class="login-controls">
                    <button class="button is-primary">
                        Request invitation
                    </button>
                </div>
            </form>
            <div class="links">
                <p class="has-text-centered">
                    <%= link_to "Login", new_user_session_path %>
                </p>
                <p class="has-text-centered">
                    <%= link_to "Create account", new_user_registration_path %>
                </p>
            </div>
        </div>
    </section>
</main>
<% end %>
