%h1 Listing template_variables

%table
  %thead
    %tr
      %th Field name
      %th Table name
      %th Alias
      %th
      %th
      %th

  %tbody
    - @template_variables.each do |template_variable|
      %tr
        %td= template_variable.field_name
        %td= template_variable.table_name
        %td= template_variable.alias
        %td= link_to 'Show', template_variable
        %td= link_to 'Edit', edit_template_variable_path(template_variable)
        %td= link_to 'Destroy', template_variable, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Variable', new_template_variable_path
