%header
    .app
        = render "website/shared/navigation"
        .container
            .getstarted
                %h1.lesli-title
                    Lesli
                    %span Cloud
                %h2= t(".slogan")
                %p= t(".description")
                %a{:href=>""}= t(".get_started")
            .showcase
                .browser-mockup.with-url
                    %img{:src=>"/assets/website/screenshot/2.png", :alt=>"app screenshot"}

%section.teamwork
    %p= t(".teamwork.team")
    %img{:src=>"/assets/website/teamwork.svg", :alt=>"teamwork concept" }
    %p= t(".teamwork.work")
%section.collections
    %article.grid
        .collection
            %img{:src=>"/assets/website/icon/planchette.svg", :alt=>"Collections Administration" }
            %h4= t(".collections.administration.title")
            %p= t(".collections.administration.desc")
        .collection
            %img{:src=>"/assets/website/icon/market.svg", :alt=>"Collections Administration" }
            %h4= t(".collections.sales_marketing.title")
            %p= t(".collections.sales_marketing.desc")
        .collection
            %img{:src=>"/assets/website/icon/calendar.svg", :alt=>"Collections Administration" }
            %h4= t(".collections.productivity.title")
            %p= t(".collections.productivity.desc")
        .collection
            %img{:src=>"/assets/website/icon/projector.svg", :alt=>"Collections Administration" }
            %h4= t(".collections.finance.title")
            %p= t(".collections.finance.desc")
        .collection
            %img{:src=>"/assets/website/icon/web.svg", :alt=>"Collections IT &amp; Help desk" }
            %h4= t(".collections.it_help_desk.title")
            %p= t(".collections.it_help_desk.desc")

%section.features
    %h2= t(".features.description")
    %article.grid
        .feature_img
            %img{:src=>"/assets/website/business.png", :alt=>"app screenshot" }
        %div
            .flex
                .feature
                    .icon
                        %img{:src=>"/assets/website/icon/automation.png", :alt=>"Feature automation" }
                    .desc
                        %a{:href => ""}
                            %h4= t(".features.automation.title")
                        %p= t(".features.automation.description")
                .feature
                    .icon
                        %img{:src=>"/assets/website/icon/ai.png", :alt=>"Feature machine learning" }
                    .desc
                        %a{:href => ""}
                            %h4= t(".features.ai.title")
                        %p= t(".features.ai.description")
                .feature
                    .icon
                        %img{:src=>"/assets/website/icon/security.png", :alt=>"Collections Administration" }
                    .desc
                        %a{:href => ""}
                            %h4= t(".features.security.title")
                        %p= t(".features.security.description")
