%section.pricing
    %h2= t('.description')
    %article.row
        .col
            %div
                %img{alt: "pricing plane personal", src: "/assets/website/pricing-plan-personal.png" }
                %h3= t('.personal.name')
                %ul
                    %li= t('.personal.users')
                    %li= t('.personal.feature')
                    %li
                        = t('.storage')
                        %br/
                        10GB
                    %li
                        %span= t('.personal.price')
                        %p= t('.byuser')
                    %li
                        %a{:href => "#account"}= t('.signup')

        .col
            %div
                %img{alt: "pricing plane team", src: "/assets/website/pricing-plan-team.png" }
                %h3= t('.team.name')
                %ul
                    %li= t('.team.users')
                    %li= t('.team.feature')
                    %li 
                        Custom 
                        %br/
                        branding
                    %li
                        %span= t('.team.price')
                        %p= t('.byuser')
                    %li
                        %a{:href => "#account"}= t('.signup')

        .col
            %div
                %img{alt: "pricing plane business", src: "/assets/website/pricing-plan-business.png" }
                %h3= t('.business.name')
                %ul
                    %li= t('.business.users')
                    %li= t('.business.feature')
                    %li 
                        Custom 
                        %br/
                        domain name
                    %li
                        %span= t('.business.price')
                        %p= t('.byuser')
                    %li
                        %a{:href => "#account"}= t('.signup')
