= form_for @custom_field do |f|
  - if @custom_field.errors.any?
    #error_explanation
      %h2= "#{pluralize(@custom_field.errors.count, "error")} prohibited this custom_field from being saved:"
      %ul
        - @custom_field.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
