%section
    %a.logo{:href => root_path}
        %img{:alt => "LesliCloud logo", :src => "/assets/brand/leslicloud-logo.svg"}/

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

        .field
            %p.control.has-icons-left
                = f.label :email, class: "sr-only"
                = f.email_field :email, autocomplete: "email", class: "input", placeholder: :email
                %span.icon.is-small.is-left
                    %i.fas.fa-envelope

        .field
            %p.control.has-icons-left
                = f.label :password, class: "sr-only"
                - if @minimum_password_length
                    = f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Your password (#{@minimum_password_length} characters minimum)"
                - else 
                    = f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Your password"
                %span.icon.is-small.is-left
                    %i.fas.fa-key

        .field
            %p.control.has-icons-left
                = f.label :password_confirmation, class: "sr-only"
                = f.password_field :password_confirmation, autocomplete: "current-password", class: "input", placeholder: :password_confirmation
                %span.icon.is-small.is-left
                    %i.fas.fa-key

        = f.submit "Sign up", class: "button is-primary"

    .links
        = render "devise/shared/links"
