= form_for @translation do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@translation.errors.count, "error")} prohibited this translation from being saved:"
      %ul
        - @translation.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
