= form_for @company_location_city do |f|
  - if @company_location_city.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company_location_city.errors.count, "error")} prohibited this company_location_city from being saved:"
      %ul
        - @company_location_city.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
