= form_for @user_detail do |f|
  - if @user_detail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_detail.errors.count, "error")} prohibited this user_detail from being saved:"
      %ul
        - @user_detail.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
