= debug @userr
= form_for @userr do |f|
  /= f.text_field :first_name
  - if @userr.errors.any?
    #error_explanation
      %h2= "#{pluralize(@userr.errors.count, "error")} prohibited this userr from being saved:"
      %ul
        - @userr.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
