= form_for @bell_email do |f|
  - if @bell_email.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bell_email.errors.count, "error")} prohibited this bell_email from being saved:"
      %ul
        - @bell_email.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
