= form_for @lock_role_privilege do |f|
  - if @lock_role_privilege.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lock_role_privilege.errors.count, "error")} prohibited this lock_role_privilege from being saved:"
      %ul
        - @lock_role_privilege.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
