= form_for @core_user_detail do |f|
  - if @core_user_detail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@core_user_detail.errors.count, "error")} prohibited this core_user_detail from being saved:"
      %ul
        - @core_user_detail.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
