<%#

Copyright (c) 2020, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 

%>

<% custom_app_logo_path = "#{ lesli_instance_code }/brand/app-logo.svg" %>
<% custom_app_page_clas = "#{ lesli_instance_code }-session".downcase %>
<% custom_app_page_path = "#{ lesli_instance_code }/lesli/devise/sessions/new" %>
<% custom_app_page_exists = lookup_context.exists?(custom_app_page_path) %>



<%# render custom view in builder module %>
<% if custom_app_page_exists %>
<main id="lesli-application" class="<%= custom_app_page_clas %>">
    <%= render :template => custom_app_page_path %>
</main>
<% end %>



<%# core view for passses %>
<% unless custom_app_page_exists %>
<main id="lesli-application" class="lesli">
    <section class="hero is-fullheight lesli">
        <div class="hero-body is-paddingless">
            <div class="columns is-gapless">
                <div class="column has-session-form">
                    <div class="container">
                        <div class="logo-container">
                            <%= image_tag custom_app_logo_path, :class => "#{lesli_instance_code}-logo", :alt => "logo" %>
                        </div>
                        <form @submit.prevent="postLogin">
                            <p v-cloak v-if="notification.show" :class="[`has-text-${notification.type}`]">
                                {{ notification.message }}
                            </p>
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input
                                        name="user_email"
                                        type="email"
                                        placeholder="Email"
                                        class="input"
                                        :class="['input', `is-${notification.type}`]"
                                        v-model="sign_in.email"
                                        @input="typing">
                                    <span 
                                        class="icon is-small is-left" 
                                        :class="['icon', 'is-small', 'is-left', `has-text-${notification.type}`]">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <%# <i class="fas fa-check"></i> %>
                                    </span>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input
                                        name="user_password"
                                        type="password"
                                        class="input"
                                        placeholder="Password"
                                        :class="['input', `is-${notification.type}`]"
                                        v-model="sign_in.password"
                                        @input="typing">
                                    <span 
                                        class="icon is-small is-left"
                                        :class="['icon', 'is-small', 'is-left', `has-text-${notification.type}`]">
                                        <i class="fas fa-key"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <%#<i class="fas fa-eye"></i>%>
                                    </span>
                                </p>
                            </div>

                            <div class="field buttons">
                                <div class="control">
                                    <input type="submit" class="button is-primary" value="Login">
                                </div>
                            </div>

                        </form>

                        <div class="links">
                            <%= link_to "Reset password", new_user_password_path, :class => "password-new" %>
                            <br>
                            <%= link_to "Request a pass", new_pass_path, :class => "pass-new" %>
                            <br>
                            <%= link_to "Request an otp", new_otp_path, :class => "otp-new" %>
                            <hr>
                            <%= link_to "Create account", new_user_registration_path, :class => "register-new" %>
                        </div>
                    </div>
                </div>
                <div class="column has-solution-background">
                    <div class="container">
                        <h2 class="is-size-1"><%= I18n.t("lesli.shared.view_title_welcome_title_of_sessions") %></h2>
                        <p class="is-size-5">
                            <%= I18n.t("lesli.shared.view_text_welcome_text_of_sessions") %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<% end %>
