%section
    %a.logo{:href => root_path}
        %img{:alt => "LesliCloud logo", :src => "/assets/brand/leslicloud-logo.svg"}/

    = render 'layouts/partials/application-alert'

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

        .field
            %p.control.has-icons-left
                = f.label :email, class: "sr-only"
                = f.email_field :email, autocomplete: "email", class: "input", placeholder: "Username"
                %span.icon.is-small.is-left
                    %i.fas.fa-envelope

        .field
            %p.control.has-icons-left
                = f.label :password, class: "sr-only"
                = f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Password"
                %span.icon.is-small.is-left
                    %i.fas.fa-lock

        = f.submit "Log in", class: "button is-primary"

    .links
        = render "devise/shared/links"
