<%#

Copyright (c) 2020, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 

%>

<% custom_app_logo_path = "#{ lesli_instance_code }/brand/app-icon.svg" %>
<% custom_app_page_clas = "#{ lesli_instance_code }-session" %>
<% custom_app_page_path = "#{ lesli_instance_code }/lesli/devise/sessions/new" %>
<% custom_app_page_exists = lookup_context.exists?(custom_app_page_path) %>



<%# render custom view in builder module %>
<% if custom_app_page_exists %>
<main id="lesli-application" class="<%= custom_app_page_clas %>">
    <%= render :template => custom_app_page_path %>
</main>
<% end %>



<%# core view for login page %>
<% unless custom_app_page_exists %>
<main id="lesli-application" class="lesli">
    <section class="columns is-gapless">
        <div class="column">
            <div class="hero is-fullheight">
                <div class="hero-body is-flex-direction-column is-justify-content-center">

                    <%# Logo container %>
                    <div class="logo has-text-centered mb-6">
                        <%= image_tag custom_app_logo_path, :class => "#{lesli_instance_code}-logo", :alt => "logo" %>
                        <h1 class="has-text-primary">Login to Lesli</h1>
                    </div>

                    <%# Log in form %>
                    <form @submit.prevent="postLogin" method="post">
                        <div class="field mb-4">
                            <label for="user_email" class="label">E-mail address</label>
                            <div class="control has-icons-left has-icons-right">
                                <input
                                    id="user_email"
                                    name="user_email"
                                    type="email"
                                    ref="email"
                                    :class="['input', `is-${notification.type}`]"
                                    placeholder="hello@lesli.cloud"
                                    v-model="sign_in.email"
                                    @input="typing">
                                <span 
                                    class="icon is-small is-left" 
                                    :class="['icon', 'is-small', 'is-left', `has-text-${notification.type}`]">
                                    <i class="ri-mail-fill"></i>
                                </span>
                                <%# 
                                <span class="icon is-right">
                                    <i class="ri-check-line"></i>
                                </span> 
                                %>
                            </div>
                        </div>
                        <div class="field mb-5">
                            <label for="user_password" class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input
                                    id="user_password"
                                    name="user_password"
                                    type="password"
                                    ref="password"
                                    :class="['input', `is-${notification.type}`]"
                                    placeholder="* * * * * * *"
                                    v-model="sign_in.password"
                                    @input="typing">
                                <span 
                                    :class="['icon', 'is-small', 'is-left', `has-text-${notification.type}`]">
                                    <i class="ri-key-fill"></i>
                                </span>
                                <span 
                                    @click="togglePasswordInput()"
                                    :class="['icon', 'is-small', 'is-right', `has-text-${notification.type}`]">
                                    <i class="ri-eye-fill"></i>
                                </span>
                            </div>
                            <p v-cloak v-if="notification.show" :class="['help', `is-${notification.type}`]">
                                {{ notification.message }}
                            </p> 
                        </div>
                        <div class="field mb-4">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" />
                                    Stay logged in
                                </label>
                            </div>
                        </div>

                        <div class="field mb-6">
                            <div class="control is-fullwidth">
                                <input type="submit" class="button is-primary is-fullwidth mb-2" value="Log in">
                                <p class="account has-text-centered">
                                    Still not registered? 
                                    <%= link_to new_user_registration_path, :class => "has-text-primary" do %>
                                        <u><b>Create account</b></u>
                                    <% end %>
                                </p> 
                            </div>
                        </div>

                        <div class="field mb-6" v-if="false">
                            <p class="message has-text-success">Registration successfully done. Please check your E-mail to activate your account.</p>
                        </div>
                    </form>

                    <div class="links">
                        <%= link_to new_user_password_path, :class => "password-new" do %>
                            <span class="icon mr-2">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 4.75C8.55296 4.75 7.375 5.92796 7.375 7.375V8.25C6.89155 8.25 6.5 8.64155 6.5 9.125V13.5C6.5 13.9834 6.89155 14.375 7.375 14.375H12.625C13.1084 14.375 13.5 13.9834 13.5 13.5V9.125C13.5 8.64155 13.1084 8.25 12.625 8.25V7.375C12.625 5.92796 11.447 4.75 10 4.75ZM11.75 12.625H8.25V10H11.75V12.625ZM9.125 8.25V7.375C9.125 6.89264 9.51764 6.5 10 6.5C10.4824 6.5 10.875 6.89264 10.875 7.375V8.25H9.125Z" fill="#112A62"/>
                                    <path d="M16.7549 3.14324C13.4431 -0.120437 8.34511 -0.489197 4.62839 2.0123L4.61745 0.577295C4.61526 0.336669 4.41839 0.141979 4.17667 0.143071L3.30167 0.149633C3.05996 0.151821 2.86527 0.348697 2.86745 0.590409L2.89151 3.86501C2.89479 4.21938 3.11026 4.53656 3.43729 4.67001C3.76542 4.80345 4.14056 4.72579 4.38993 4.47314C7.43941 1.3811 12.4343 1.34386 15.5264 4.39001C17.8867 6.71533 18.5308 10.2132 17.19 13.2111C17.0948 13.4244 17.1725 13.6738 17.3814 13.7799L18.1623 14.1791C18.3833 14.2917 18.6633 14.201 18.7661 13.9746C20.434 10.2996 19.6531 5.99904 16.7546 3.14304L16.7549 3.14324Z" fill="#112A62"/>
                                    <path d="M16.5625 15.3296C16.2333 15.1962 15.8593 15.2739 15.6099 15.5265C12.5615 18.6197 7.56633 18.6569 4.47345 15.6096C2.11314 13.2843 1.46905 9.78647 2.80986 6.78851C2.90502 6.57523 2.82736 6.32587 2.61846 6.21978L1.83751 5.82055C1.61657 5.7079 1.33656 5.79868 1.23377 6.02509C-0.43528 9.70121 0.346732 14.0017 3.24518 16.8566C6.55702 20.1203 11.655 20.489 15.3717 17.9876L15.3826 19.4215C15.3848 19.6632 15.5817 19.8579 15.8234 19.8557L16.6984 19.8491C16.9401 19.8469 17.1348 19.6501 17.1326 19.4083L17.1086 16.1337C17.1053 15.7805 16.8898 15.4633 16.5628 15.3298L16.5625 15.3296Z" fill="#112A62"/>
                                </svg>
                            </span>
                            <span>Reset password</span>
                        <% end %>
                        <%= link_to new_pass_path, :class => "pass-new" do %>
                            <span class="icon mr-2">
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.5 7.25005H15.25C14.6748 7.25005 14.0996 7.34967 13.5498 7.52545C14.1748 8.00005 14.7002 8.57525 15.0996 9.25005H15.25H17.5C19.2998 9.25005 20.75 10.7003 20.75 12.5001C20.75 14.2999 19.2998 15.7501 17.5 15.7501H15.25C15.0996 15.7501 14.9248 15.7247 14.7754 15.7003H14.75C13.2002 15.4503 12 14.125 12 12.5C12 11.5 11.3496 10.6504 10.4502 10.375C10.1504 11.0254 10 11.75 10 12.5C10 15.4005 12.3496 17.75 15.25 17.75H17.5C20.4005 17.75 22.75 15.4004 22.75 12.5C22.75 9.5996 20.4004 7.25 17.5 7.25V7.25005Z" fill="#112A62"/>
                                    <path d="M9.9248 15.7502H7.5C5.7002 15.7502 4.25 14.3 4.25 12.5002C4.25 10.7004 5.7002 9.25024 7.5 9.25024H9.75C11.5498 9.25024 13 10.7004 13 12.5002C13 13.5002 13.6504 14.3498 14.5498 14.6252C14.8496 13.9748 15 13.2502 15 12.5002C15 9.59974 12.6504 7.25024 9.75 7.25024H7.5C4.5995 7.25024 2.25 9.59984 2.25 12.5002C2.25 15.4006 4.5996 17.7502 7.5 17.7502H9.75C10.3252 17.7502 10.9004 17.6506 11.4502 17.4504C10.8496 17.0002 10.3252 16.4006 9.9248 15.7502Z" fill="#112A62"/>
                                </svg>
                            </span>
                            <span>Login with magic link</span>
                        <% end %>
                        <%= link_to new_otp_path, :class => "otp-new" do %>
                            <span class="con mr-2">
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.75 7.03132C18.7509 5.48834 18.1806 3.99907 17.1494 2.85057C16.1172 1.70312 14.6982 0.976544 13.1631 0.813469C11.629 0.649407 10.0879 1.05956 8.83688 1.96387C7.58688 2.86817 6.7148 4.20312 6.3896 5.71187C6.06538 7.22067 6.3105 8.79687 7.0771 10.1356C7.84468 11.4745 9.081 12.4823 10.5469 12.9646V14.0623H11.3281V13.1677C12.1025 13.3191 12.8974 13.3191 13.6719 13.1677V22.4607L12.5 23.3396L11.3281 22.4607V22.035L12.3867 20.9803C12.4609 20.907 12.5019 20.8074 12.5019 20.7029C12.5019 20.5984 12.4609 20.4988 12.3867 20.4256L11.3281 19.3709V18.9607L12.3242 18.2927C12.4326 18.2205 12.4971 18.0984 12.4971 17.9685C12.4971 17.8386 12.4326 17.7166 12.3242 17.6443L11.3281 16.9763V16.406H10.5469V17.1873C10.5478 17.3181 10.6133 17.4392 10.7226 17.5115L11.4062 17.9685L10.7226 18.4255C10.6133 18.4978 10.5478 18.6189 10.5469 18.7498V19.531C10.5459 19.6345 10.5869 19.7351 10.6601 19.8084L11.5586 20.7029L10.6601 21.5974C10.5869 21.6707 10.5459 21.7712 10.5469 21.8748V22.656C10.5469 22.7791 10.6045 22.8943 10.7031 22.9685L12.2656 24.1404C12.4043 24.2449 12.5957 24.2449 12.7344 24.1404L14.2969 22.9685C14.3955 22.8943 14.4531 22.7791 14.4531 22.656V12.9645C15.7021 12.5534 16.791 11.7585 17.5626 10.693C18.3341 9.62762 18.7491 8.34637 18.7501 7.03104L18.75 7.03132ZM7.0312 7.03132C7.0312 6.89851 7.0312 6.76959 7.05073 6.64069H7.81246V7.42194H7.05073C7.0312 7.29304 7.0312 7.16414 7.0312 7.03132ZM14.4532 3.51582V2.73457H15.2345V3.51582H14.4532ZM15.2345 10.5471V11.3283H14.4532V10.5471H15.2345ZM8.98445 8.98457V9.76582H8.2032V8.98457H8.98445ZM8.2032 5.07832V4.29707H8.98445V5.07832H8.2032ZM9.7657 11.3283V10.5471H10.547V11.3283H9.7657ZM11.3985 7.42207H9.37505V6.64082H11.3985C11.5167 6.30879 11.7774 6.04804 12.1095 5.92987V3.90642H12.8907V5.92987C13.2716 6.06268 13.5577 6.38202 13.6475 6.77459C13.7374 7.16814 13.6192 7.58027 13.3341 7.86542C13.0489 8.15057 12.6368 8.26874 12.2432 8.17889C11.8507 8.08905 11.5313 7.80292 11.3985 7.42207ZM9.7657 3.51582V2.73457H10.547V3.51582H9.7657ZM16.0157 8.98457H16.797V9.76582H16.0157V8.98457ZM16.0157 5.07832V4.29707H16.797V5.07832H16.0157ZM12.8907 2.34382H12.1095V1.58209H12.5001H12.8907V2.34382ZM12.1095 11.7188H12.8907V12.5001C12.7618 12.5001 12.6329 12.5196 12.5001 12.5196C12.3673 12.5196 12.2384 12.5196 12.1095 12.5001V11.7188ZM17.1875 7.42182V6.64057H17.9687V7.03119V7.42182H17.1875Z" fill="#112A62"/>
                                    <path d="M18.5977 2.19531L17.9883 2.68751C19.0029 3.95606 19.5469 5.53701 19.5273 7.16126C19.5078 8.78626 18.9268 10.3538 17.8828 11.5978L18.4766 12.1095C19.6377 10.7267 20.2842 8.98549 20.3066 7.17974C20.3281 5.37504 19.7246 3.61724 18.5977 2.20699V2.19531Z" fill="#112A62"/>
                                    <path d="M7.03132 2.68751L6.40242 2.19531C5.27254 3.60644 4.66707 5.36631 4.68854 7.17381C4.711 8.98144 5.35944 10.7266 6.52349 12.1093L7.11724 11.6093C6.07329 10.3622 5.49322 8.79106 5.47759 7.16406C5.46197 5.53706 6.01079 3.95506 7.03129 2.68756L7.03132 2.68751Z" fill="#112A62"/>
                                    <path d="M19.7812 1.17188L19.1719 1.66408C20.4336 3.22073 21.1113 5.16908 21.0889 7.17283C21.0654 9.17673 20.3438 11.1093 19.0469 12.6366L19.6406 13.1444C21.0567 11.4784 21.8457 9.36988 21.8711 7.18338C21.8965 4.99688 21.1572 2.87088 19.7812 1.17163V1.17188Z" fill="#112A62"/>
                                    <path d="M5.82803 1.66408L5.21866 1.17188C3.84268 2.8711 3.10343 4.99713 3.12881 7.18363C3.15418 9.37013 3.94326 11.4786 5.35928 13.1446L5.95303 12.6368C4.65616 11.1095 3.93448 9.17683 3.91103 7.17308C3.88857 5.16918 4.56631 3.22083 5.82803 1.66433V1.66408Z" fill="#112A62"/>
                                    <path d="M10.5471 14.8438H11.3284V15.625H10.5471V14.8438Z" fill="#112A62"/>
                                </svg>
                            </span>
                            <span>One time password</span>
                        <% end %>
                    </div>
                </div>
                <%# footer %>
                <%= render partial: "devise/shared/footer" %>
            </div>
        </div>
        <div class="column is-hidden-touch"></div>
    </section>
</main>
<% end %>
