<%
=begin

Lesli

Copyright (c) 2023, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS development platform.

Made with ♥ by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
=end
%>

<section class="application-component">

    <%
        revision = LC::System::Info.revision()
        version = "version: #{ revision[:version] }"
        build = "build: #{ revision[:build] }"
    %>

    <div class="header mb-6 pb-4 pl-3">
        <h3 class="is-size-3"><%= LC::System::Info.instance[:code].titleize() %></h3>
        <h4 class="is-size-4"><%= version %> &bull; <%= build %></h4>
    </div>

    <article class="engines">
        <% @aboutengines.each do |engine| %>
            <div class="engine">
                <%= lesli_svg(engine[1][:image]) %>
                <p><%= engine[1][:name] %></p>
                <p>version: <%= engine[1][:version] %></p>
                <p>build: <%= engine[1][:build] %></p>
            </div>
        <% end %>
    </article>

</section>
