
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= I18n.t('core.shared.email_text_change_password') %></title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed>
            
            <table class="spacer float-center"><tbody><tr><td height="40px" style="font-size:40px;line-height:40px;">&#xA0;</td></tr></tbody></table> 
            <table align="center" class="container lesli-email-container float-center"><tbody><tr><td>
                <table class="row lesli-email-header"><tbody><tr>
                    <th class="small-12 large-12 columns first last"><table><tr><th>
                        <center data-parsed>
                            <img src="<%= image_url('cloud_haus/brand/deutsche-leibrenten-logo.png') %>" alt="deutsche-leibrenten-logo" align="center" class="float-center">
                        </center>
                    </th>
<th class="expander"></th></tr></table></th>
                </tr></tbody></table>
                <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last"><table><tr><th>
            
                        <table class="spacer"><tbody><tr><td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td></tr></tbody></table> 
            
                        <h4 class="text-center"><%= I18n.t('core.shared.email_text_greeting') %> <%= @data[:name] %></h4>
            
                        <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
                        <p><%= I18n.t('core.users/passwords.email_new_password_text_description') %> <%= @data[:email] %></p>
                        <p><%= I18n.t('core.users/passwords.email_new_password_text_instructions') %></p>
            
                        <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
                        <center data-parsed>
                            <table class="button radius large small-expanded float-center"><tr><td><table><tr><td><a href="<%=@data[:href]%>"> <%= I18n.t('core.users/passwords.email_change_password_button') %></a></td></tr></table></td></tr></table>
                        </center>
            
                        <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
                    </th>
<th class="expander"></th></tr></table></th>
                </tr></tbody></table>
            
                <table class="row lesli-email-header"><tbody><tr>
                    <th class="small-12 large-12 columns first last"><table><tr><th>
                        <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
                        <p class="text-center">Deutsche Leibrenten Grundbesitz AG</p>
                    </th>
<th class="expander"></th></tr></table></th>
                </tr></tbody></table>
            
            </td></tr></tbody></table>
            
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

