= form_for @lock_user_privilege do |f|
  - if @lock_user_privilege.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lock_user_privilege.errors.count, "error")} prohibited this lock_user_privilege from being saved:"
      %ul
        - @lock_user_privilege.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
