= form_for @core_account_detail do |f|
  - if @core_account_detail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@core_account_detail.errors.count, "error")} prohibited this core_account_detail from being saved:"
      %ul
        - @core_account_detail.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
