<%
=begin

Lesli

Copyright (c) 2023, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS development platform.

Made with ♥ by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
=end
%>

<%# the charset attribute specifies the character encoding for the HTML document. %>
<meta charset="utf-8">

<%# this gives the browser instructions on how to control the page's dimensions and scaling. %>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

<%# defines the title of the document. %>
<title><%= website_title %></title>

<%# rails standard meta tags %>
<%= csrf_meta_tags %>
<%= favicon %>

<%# provide a short description of the page %>
<meta name="description" content="<%= website_meta_description %>">


<% appstore_app_id = Rails.application.credentials.dig(:providers, :apple, :app_id) %>
<% if appstore_app_id %>
    <meta name="apple-itunes-app" content="app-id=<%= appstore_app_id %>">
<% end %>
