<%#

Copyright (c) 2022, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
%>

<application-component-header 
    <%= "is-bell" if defined?(CloudBell) %>
    <%= "is-focus" if defined?(CloudFocus) %>
    >

    <%# language selector %>
    <% if I18n.available_locales.length > 1 && params[:controller] == 'profiles' && false %>
    <div class="dropdown is-hoverable header-language-selector">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon has-text-grey-light">
                    <%= flag_icon(language_flag(I18n.locale)) %>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <% I18n.available_locales.each do |locale| %>
                    <% next if locale == I18n.locale %>
                    <%= link_to language_url(locale), { :class => "dropdown-item" } do %>
                        <span class="icon has-text-grey-light">
                            <%= flag_icon(language_flag(locale)) %>
                        </span>
                        <span><%= language_name(locale) %></span>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>


    <%# username %>
    <template v-slot:username>
    <%= current_user.full_name %>
    </template>


    <%# Custom header from builder engine %>
    <% custom_header_partial_path = "layouts/#{lesli_instance_code}/partials/application-header" %>
    <% custom_header_partial_exists = lookup_context.exists?(custom_header_partial_path, nil, true) %>


    <% if custom_header_partial_exists %>
    <%= render partial: custom_header_partial_path %>
    <% end %>

</application-component-header>
