<%#

Lesli

Copyright (c) 2020, Lesli Technologies, S. A.

All the information provided by this website is protected by laws of Guatemala related 
to industrial property, intellectual property, copyright and relative international laws. 
Lesli Technologies, S. A. is the exclusive owner of all intellectual or industrial property
rights of the code, texts, trade mark, design, pictures and any other information.
Without the written permission of Lesli Technologies, S. A., any replication, modification,
transmission, publication is strictly forbidden.
For more information read the license file including with this software.

Lesli - Your Smart Business Assistant

Powered by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  <hello@lesli.tech>
@website  <https://lesli.tech>
@license  Propietary - all rights reserved.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 

%>

<application-component-header>

    <%# Custom header from builder engine %>
    <% if lesli_instance != "lesli" %>
    <%= render partial: "layouts/#{lesli_instance.underscore}/partials/module-app-header" %>
    <% end %>

    <% if lesli_instance == "lesli" %>
    <template v-slot:brand>
        <a class="navbar-item is-size-3" href="/">
            Lesli
        </a>
    </template>
    <% end %>

    <%# username %>
    <template v-slot:username>
    <%= current_user.full_name %>
    </template>

    <%# show language selector for development only %>
    <% if not Rails.env.production? %>
    <template v-slot:languages>
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="icon has-text-grey-light">
                        <%= flag_icon(language_flag(I18n.locale)) %>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <% I18n.available_locales.each do |locale| %>
                        <% next if locale == I18n.locale %>
                        <%= link_to language_url(locale), { :class => "dropdown-item" } do %>
                            <span class="icon has-text-grey-light">
                                <%= flag_icon(language_flag(locale)) %>
                            </span>
                            <span><%= language_name(locale) %></span>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </template>
    <% end %>

</application-component-header>
