%aside.lesli-app-aside
    %nav
        %ul
            - if defined?(CloudBell)
                %li
                    = link_to "/bell/notifications" do
                        = image_tag "cloudbell/brand/bell-logo.svg", alt: "CloudBell logo"
                        bell

            - if defined?(CloudTeam)
                %li
                    = link_to "/team" do
                        = image_tag "cloudteam/brand/team-logo.svg", alt: "CloudTeam logo"
                        team

            - if defined?(CloudHouse)
                %li
                    = link_to "/house" do
                        = image_tag "cloudhouse/brand/house-logo.svg", alt: "CloudHouse logo"
                        house

            - if defined?(CloudDriver)
                %li
                    = link_to "/driver" do
                        = image_tag "clouddriver/brand/driver-logo.svg", alt: "CloudDriver logo"
                        driver


            - if defined?(CloudBooks)
                %li
                    = link_to "/books" do
                        = image_tag "cloudbooks/brand/books-logo.svg", alt: "CloudBooks logo"
                        books

            - if defined?(CloudHelp)
                %li
                    = link_to "/help" do
                        = image_tag "cloudhelp/brand/help-logo.svg", alt: "CloudHelp logo"
                        help

            - if defined?(CloudKb)
                %li
                    = link_to "/kb" do
                        = image_tag "cloudkb/brand/kb-logo.svg", alt: "CloudKb logo"
                        kb

            - if defined?(CloudPanel)
                %li
                    = link_to "/panel" do
                        = image_tag "cloudpanel/brand/panel-logo.svg", alt: "CloudPanel logo"
                        panel

            - if defined?(CloudLock)
                %li
                    = link_to "/lock" do
                        = image_tag "cloudlock/brand/lock-logo.svg", alt: "CloudLock logo"
                        lock
            - if defined?(CloudBabel)
                %li
                    = link_to "/babel" do
                        = image_tag "cloudbabel/brand/babel-logo.svg", alt: "CloudBabel logo"
                        babel
