%aside
    %nav
        %ul
            %li
                %a{":href" => "url.to('team').href"}
                    = image_tag "cloudteam/brand/team-logo.svg", alt: "CloudTeam logo"
                    team
            %li
                %a{":href" => "url.to('driver').href"}
                    = image_tag "clouddriver/brand/driver-logo.svg", alt: "CloudDriver logo"
                    driver
            %li
                %a{":href" => "url.to('bell').href"}
                    = image_tag "cloudbell/brand/bell-logo.svg", alt: "CloudBell logo"
                    bell
            %li
                %a{":href" => "url.to('books').href"}
                    = image_tag "cloudbooks/brand/books-logo.svg", alt: "CloudBooks logo"
                    books
            %li
                %a{":href" => "url.to('help').href"}
                    = image_tag "cloudhelp/brand/help-logo.svg", alt: "CloudHelp logo"
                    help
            %li
                %a{":href" => "url.to('kb').href"}
                    = image_tag "cloudkb/brand/kb-logo.svg", alt: "CloudKb logo"
                    kb
            %li
                %a{":href" => "url.to('panel').href"}
                    = image_tag "cloudpanel/brand/panel-logo.svg", alt: "CloudPanel logo"
                    panel
            %li
                %a{":href" => "url.to('lock').href"}
                    = image_tag "cloudlock/brand/lock-logo.svg", alt: "CloudLock logo"
                    lock
