<%#

Copyright (c) 2020, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 

%>


<% custom_footer_partial_path = "layouts/#{lesli_instance_code}/partials/application-footer" %>
<% custom_footer_partial_exists = lookup_context.exists?(custom_footer_partial_path, nil, true) %>



<%# render custom partial in builder module %>
<% if custom_footer_partial_exists %>
<%= render partial: custom_footer_partial_path %>
<% end %>



<%# core footer partial %>
<% unless custom_footer_partial_exists %>
<footer class="application-footer">
    <nav class="navbar" aria-label="main navigation" role="navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <p class="navbar-item">
                    <%# we'll use this input later for command execution %>
                    <input type="text" class="input is-shadowless" placeholder="<%= @account[:company][:name] %> &bull; <%= @account[:company][:tag_line] %>">
                </p>
            </div>
            <div class="navbar-end">

                <%# Show standard footer links for LesliClou %>
                <% if defined?(LesliCloud) %>
                
                    <a class="navbar-item has-text-grey" href="#">
                        Support
                    </a>
                    <span class="navbar-item has-text-grey-light">|</span>
                    <a class="navbar-item has-text-grey" href="#">
                        Privacy
                    </a>
                    <span class="navbar-item has-text-grey-light">|</span>
                    <a class="navbar-item has-text-grey" href="#">
                        About
                    </a>

                <% else %>

                    <%# Show platform version for custom instances %>
                    <span class="navbar-item has-text-grey">
                        version <%= @account[:revision][:version] %> - 
                        build <%= @account[:revision][:build] %>
                    </span>

                <% end %>

            </div>
        </div>
    </nav>
</footer>
<% end %>
