= form_for @company_currency do |f|
  - if @company_currency.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company_currency.errors.count, "error")} prohibited this company_currency from being saved:"
      %ul
        - @company_currency.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
