<p id="notice"><%= notice %></p>

<h1>User Passwords</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_passwords.each do |user_password| %>
      <tr>
        <td><%= link_to 'Show', user_password %></td>
        <td><%= link_to 'Edit', edit_user_password_path(user_password) %></td>
        <td><%= link_to 'Destroy', user_password, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Password', new_user_password_path %>
