<!DOCTYPE html>
<html>
<head>
    <%= render partial: "layouts/partials/application-head" %>
    <%= render partial: "layouts/partials/application-data" %>
    <%= render partial: "layouts/partials/application-lesli-assets-css" %>
    <%= yield :application_custom_assets %>
</head>
<body class="<%= application_body_class() %> devv">
    <main id="lesli-application">
        <%= render partial: "layouts/partials/application-lesli-engine" %>
        <%= render partial: "layouts/partials/application-lesli-header" %>
        <%= render partial: "layouts/partials/application-lesli-sidebar" %>
        <%= render partial: "layouts/partials/application-lesli-content" %>
        <%= render partial: "layouts/partials/application-lesli-chatbox" %>
        <%= render partial: "layouts/partials/application-lesli-notification" %>
    </main>
    <%= render partial: "layouts/partials/application-lesli-footer" %>
    <%= render partial: "layouts/partials/application-lesli-assets-js" %>
    <%= render partial: "layouts/partials/application-analytics" %>
</body>
</html>
