<!DOCTYPE html>
<html>
<head>
    <%= render partial: "layouts/partials/application-head" %>
    <%= render partial: "layouts/partials/application-data" %>
    <%= render partial: "layouts/partials/application-public-asset-css" %>
</head>
<body class="<%= "#{controller_path.gsub('/','-')}-#{action_name}" %>">
    <main id="lesli-cloud-app">
        <%= yield %>
    </main>
    <%= render partial: "layouts/partials/application-public-asset-js" %>
</body>
</html>
