!!!
%html
    %head
        = render partial: 'layouts/partials/application-head'
        = render partial: 'layouts/partials/application-data'
        = render partial: 'layouts/partials/application-asset-css'
        = render partial: 'layouts/partials/application-asset-js'
    %body
        %main#lesli-cloud-app
            = render partial: 'layouts/partials/application-alert'
            = render partial: 'layouts/partials/application-layout-aside'
            = render partial: 'layouts/partials/application-layout-header'
            = render partial: 'layouts/partials/application-layout-navigation'
            = yield
            = render partial: 'layouts/partials/application-layout-chatbox'
        = render partial: 'layouts/partials/application-footer'
