<!DOCTYPE html>
<html>
<head>
    <%= render partial: "layouts/partials/application-head" %>
    <%= render partial: "layouts/partials/application-data" %>
    <%= render partial: "layouts/partials/application-public-asset-css" %>

    <%# Disable back button in browser after Logout using JavaScript %>
    <% if flash[:logout] == true %>
    <script>
    history.pushState(null, null, null);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, null);
    });
    </script>
    <% end %>
</head>
<body class="<%= application_body_class() %>">
    <%= yield %>
    <%= render partial: "layouts/partials/application-public-asset-js" %>
    <%= render partial: "layouts/partials/application-analytics" %>
</body>
</html>
