<!DOCTYPE html>
<html>
<head>
    <%= render partial: "layouts/partials/application-head" %>
    <%= render partial: "layouts/partials/application-data" %>
    <%= render partial: "layouts/partials/application-asset-css" %>
    <%= yield :application_custom_assets %>
    <script>
        //function preventBack(){ window.history.forward() }
        //setTimeout("preventBack()", 0)
        //console.log(window.history)
        //window.history.forward()
        //window.onunload = function(){ null }
    </script>
</head>
<body class="<%= application_body_class() %>">
    <%= render partial: "layouts/partials/application-layout-aside" %>
    <main id="lesli-cloud-application" class="lesli_cloud_application_css_classes layout-expanded">
        <%= render partial: "layouts/partials/application-layout-header" %>
        <%= render partial: "layouts/partials/application-layout-navigation" %>
        <%= render partial: "layouts/partials/application-layout-content" %>
        <%= render partial: "layouts/partials/application-layout-chatbox" %>
        <%= render partial: "layouts/partials/application-layout-notification" %>
    </main>
    <%= render partial: "layouts/partials/application-layout-footer" %>
    <%= render partial: "layouts/partials/application-asset-js" %>
    <%= render partial: "layouts/partials/application-analytics" %>
</body>
</html>
