<!DOCTYPE html>
<html>
<head>
    <%= render partial: "layouts/partials/application-head" %>
    <%= render partial: "layouts/partials/application-data" %>
    <%= render partial: "layouts/partials/application-asset-css" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"></script>
</head>
<body class="<%= app_css_class_for_body() %>">
    <main id="lesli-cloud-app">
        <%= render partial: "layouts/partials/application-layout-notify" %>
        <%= render partial: "layouts/partials/application-layout-header" %>
        <%= render partial: "layouts/partials/application-layout-aside" %>
        <%= render partial: "layouts/partials/application-layout-content" %>
        <%= render partial: "layouts/partials/application-layout-chatbox" %>
    </main>
    <%= render partial: "layouts/partials/application-footer" %>
    <%= render partial: "layouts/partials/application-asset-js" %>
</body>
</html>
