!!!
%html
    %head
        = render 'layouts/partials/application_head'
        = render 'layouts/partials/application_asset_css'
        = render 'layouts/partials/application_asset_js'
    %body
        %main#lesli-cloud-app
            = render 'layouts/partials/application_alert'
            %component-layout-header
            %component-layout-sidenav
            =yield
            %component-lesli-chatbox
        = render 'layouts/partials/application_footer'
