<!DOCTYPE html>
<html>
    <head>
        <title>LesliCloud</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'template/website' %>
        <%= stylesheet_link_tag 'website/' + controller_name %>
    </head>
    <body>
        <%= yield %>
        <%= render 'website/shared/pricing' %>
        <%= render 'website/shared/trial' %>
        <%= render 'website/shared/footer' %>
        <%= javascript_include_tag 'application' %>
    </body>
</html>
