<script>
document.addEventListener('turbo:load', () => {
    const stored = localStorage.getItem('engineData')
    const data = stored ? JSON.parse(stored) : { engines: [] }

    data.engines.forEach(id => {
        const el = document.getElementById(id.replace("lesli"))
        if (el) el.style.display = 'none'
    })
})
</script>

<%= render(LesliView::Layout::Container.new("lesli-apps", dashboard: true)) do %>

    <%= render("lesli_dashboard/dashboards/shared/header") if defined?(LesliDashboard) %>

    <section 
        class="lesli-application-engines">
        <div class="engines-container">
            <div class="engines">
                <%# 01. Administration %>
                <%= navigation_engine_admin %>

                <%# 02. Sales & Marketing %>
                <%= navigation_engine_mailer %>

                <%# 03. Productivity & Teamwork%>
                <%= navigation_engine_calendar %>
                <%= navigation_engine_dashboard %>
                <%= navigation_engine_bell %>
                <%= navigation_engine_papers %>

                <%# 05. Analytics %>
                <%= navigation_engine_audit %>

                <%# 07. IT & Help Desk %>
                <%= navigation_engine_support %>

                <%# 08. Security & Privacy %>
                <%= navigation_engine_shield %>
                <%= navigation_engine_security %>

                <%# 09. Integrations %>
                <%= navigation_engine_babel %>
            </div>
        </div>
    </section>
<% end %>
