= form_for @core_user_role_privilege do |f|
  - if @core_user_role_privilege.errors.any?
    #error_explanation
      %h2= "#{pluralize(@core_user_role_privilege.errors.count, "error")} prohibited this core_user_role_privilege from being saved:"
      %ul
        - @core_user_role_privilege.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
